DB_URL=jdbc:postgresql://localhost:5435/catrion_auth
DB_USERNAME=catrion_user
DB_PASSWORD=catrion_password

JWT_SECRET=Z/IhXuMHUste48XjdyPsAaFMJYjYG19+Ak35ydXMijk=

JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000

ADMIN_EMAIL=admin@catrion.local
ADMIN_PASSWORD=Admin123!
ADMIN_FULL_NAME=CATRION Administrator

CORS_ALLOWED_ORIGIN=http://localhost:5173